Repository marcoroth/herb, changes with the labels that .github/labeler.yml gives for each.
All labels: c, cpp, rust, javascript, typescript, ruby, c-extension, sorbet, rbs, parser, lexer, engine, browser, node-wasm, formatter, linter, linter-rule, linter-autofix, language-server, language-service, printer, highlighter, node, stimulus-lint, vscode, dev-tools, config, tailwind-class-sorter, minifier, rewriter, core, wasm, playground, rubygem, documentation

.github/labeler.yml:

# This file configures the GitHub Actions labeler to automatically apply labels to pull requests
# based on the files that are modified.
#
# See: https://github.com/actions/labeler

c:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.c'
      - '**/*.h'
      - 'test/c/**/*'
      - 'templates/**/*.c.erb'
      - 'templates/**/*.h.erb'

cpp:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.cpp'
      - 'templates/**/*.cpp.erb'

rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - '**/Cargo.toml'
      - '**/Cargo.lock'

javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/javascript/**/*'

typescript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/javascript/**/*.ts'
      - '**/javascript/**/*.ts.erb'

ruby:
  - changed-files:
    - any-glob-to-any-file:
      - 'lib/**/*.rb'
      - 'ext/**/*.rb'

c-extension:
  - changed-files:
    - any-glob-to-any-file:
      - 'ext/**/*'

sorbet:
  - changed-files:
    - any-glob-to-any-file:
      - 'sorbet/**/*'

rbs:
  - changed-files:
    - any-glob-to-any-file:
      - 'sig/**/*.rbs'

parser:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/parser.c'
      - 'src/parser_*.c'
      - 'src/include/parser.h'
      - 'src/include/parser_*.h'
      - 'test/parser/**/*'

lexer:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/lexer.c'
      - 'src/lexer_*.c'
      - 'src/include/lexer.h'
      - 'src/include/lexer_*.h'
      - 'test/lexer/**/*'

engine:
  - changed-files:
    - any-glob-to-any-file:
      - 'lib/herb/engine/**/*'
      - 'test/engine/**/*'

browser:
  - changed-files:
    - any-glob-to-any-file:
      - '**/javascript/packages/browser/**/*'

node-wasm:
  - changed-files:
    - any-glob-to-any-file:
      - '**/javascript/packages/node-wasm/**/*'

formatter:
  - changed-files:
    - any-glob-to-any-file:
      - '**/javascript/packages/formatter/**/*'

linter:
  - changed-files:
    - any-glob-to-any-file:
      - '**/javascript/packages/linter/**/*'

linter-rule:
  - changed-files:
    - any-glob-to-any-file:
      - '**/javascript/packages/linter/src/rules/**/*'
      - '**/javascript/packages/linter/docs/rules/**/*'

linter-autofix:
  - changed-files:
    - any-glob-to-any-file:
      - '**/javascript/packages/linter/test/autofix/**/*'

language-server:
  - changed-files:
    - any-glob-to-any-file:
      - '**/javascript/packages/language-server/**/*'
      - '**/javascript/packages/herb-language-server/**/*'

language-service:
  - changed-files:
    - any-glob-to-any-file:
      - '**/javascript/packages/language-service/**/*'

printer:
  - changed-files:
    - any-glob-to-any-file:
      - '**/javascript/packages/printer/**/*'

highlighter:
  - changed-files:
    - any-glob-to-any-file:
      - '**/javascript/packages/highlighter/**/*'

node:
  - changed-files:
    - any-glob-to-any-file:
      - '**/javascript/packages/node/**/*'

stimulus-lint:
  - changed-files:
    - any-glob-to-any-file:
      - '**/javascript/packages/stimulus-lint/**/*'

vscode:
  - changed-files:
    - any-glob-to-any-file:
      - '**/javascript/packages/vscode/**/*'

dev-tools:
  - changed-files:
    - any-glob-to-any-file:
      - '**/javascript/packages/dev-tools/**/*'

config:
  - changed-files:
    - any-glob-to-any-file:
      - '**/javascript/packages/config/**/*'

tailwind-class-sorter:
  - changed-files:
    - any-glob-to-any-file:
      - '**/javascript/packages/tailwind-class-sorter/**/*'

minifier:
  - changed-files:
    - any-glob-to-any-file:
      - '**/javascript/packages/minifier/**/*'

rewriter:
  - changed-files:
    - any-glob-to-any-file:
      - '**/javascript/packages/rewriter/**/*'

core:
  - changed-files:
    - any-glob-to-any-file:
      - '**/javascript/packages/core/**/*'

wasm:
  - changed-files:
    - any-glob-to-any-file:
      - 'wasm/**/*'

playground:
  - changed-files:
    - any-glob-to-any-file:
      - 'playground/**/*'

rubygem:
  - changed-files:
    - any-glob-to-any-file:
      - 'herb.gemspec'
      - 'lib/**/*'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/docs/**/*'

`libherb` FFI Ruby Interface
  Steepfile
  herb.gemspec
  lib/herb/libherb.rb
  lib/herb/libherb/array.rb
  lib/herb/libherb/ast_node.rb
  lib/herb/libherb/buffer.rb
  lib/herb/libherb/extract_result.rb
  lib/herb/libherb/lex_result.rb
  lib/herb/libherb/libherb.rb
  lib/herb/libherb/parse_result.rb
  lib/herb/libherb/token.rb
Labels: ruby, rubygem

C: Fix `KB` macro argument warning
  src/include/macros.h
Labels: c

C: Fix Type narrowing warning in `lexer_peek_helpers.c`
  src/lexer_peek_helpers.c
Labels: c, lexer

Config: Flatten `.herb.yml` structure and add rule-level `include`
  docs/docs/configuration.md
  javascript/packages/config/package.json
  javascript/packages/config/src/config-schema.ts
  javascript/packages/config/src/config-template.yml
  javascript/packages/config/src/config.ts
  javascript/packages/config/src/merge.ts
  javascript/packages/config/test/config.test.ts
  javascript/packages/formatter/README.md
  javascript/packages/formatter/src/cli.ts
  javascript/packages/formatter/test/cli.test.ts
  javascript/packages/language-server/src/code_action_service.ts
  javascript/packages/language-server/src/formatting_service.ts
  javascript/packages/language-server/src/service.ts
  javascript/packages/language-server/src/settings.ts
  javascript/packages/linter/README.md
  javascript/packages/linter/src/cli.ts
  javascript/packages/linter/src/cli/file-processor.ts
  javascript/packages/linter/src/linter.ts
  javascript/packages/linter/src/rules/html-body-only-elements.ts
  javascript/packages/linter/src/rules/html-head-only-elements.ts
  javascript/packages/linter/src/rules/html-tag-name-lowercase.ts
  javascript/packages/linter/test/cli.test.ts
  javascript/packages/linter/test/helpers/linter-test-helper.ts
  javascript/packages/linter/test/linter.test.ts
  javascript/packages/linter/test/rule-level-patterns.test.ts
  javascript/packages/printer/src/cli.ts
  javascript/packages/vscode/src/analysis-service.ts
  javascript/packages/vscode/src/client.ts
  javascript/packages/vscode/src/config-details-provider.ts
  javascript/packages/vscode/src/config-provider.ts
  javascript/packages/vscode/src/herb-analysis-provider.ts
  javascript/packages/vscode/src/herb-settings-commands.ts
  yarn.lock
Labels: javascript, typescript, formatter, linter, linter-rule, language-server, printer, vscode, config, documentation

Update doxygen-awesome-css in yarn.lock
  yarn.lock
Labels: none

More refactor, and making sure that langauge server works without init options
  javascript/packages/config/src/config.ts
  javascript/packages/language-server/src/formatting_service.ts
  javascript/packages/language-server/src/linter_service.ts
  javascript/packages/language-server/src/server.ts
  javascript/packages/language-server/src/service.ts
  javascript/packages/language-server/src/settings.ts
  javascript/packages/vscode/src/extension.ts
  javascript/packages/vscode/src/herb-analysis-provider.ts
  javascript/packages/vscode/src/parse-worker.js
  javascript/packages/vscode/src/tree-children-provider.ts
Labels: javascript, typescript, language-server, vscode, config

Update tests
  javascript/packages/language-server/src/formatting_service.ts
  javascript/packages/language-server/test/settings.test.ts
Labels: javascript, typescript, language-server

Unset FORCE_COLOR
  javascript/packages/linter/test/cli.test.ts
Labels: javascript, typescript, linter

Formatter: Fix Bug where `case` children were lost
  javascript/packages/formatter/src/format-printer.ts
  javascript/packages/formatter/test/erb-formatter/erb-formatter-compat.test.ts
  javascript/packages/formatter/test/erb/case.test.ts
Labels: javascript, typescript, formatter

Ruby: Drop `rbs-inline` fork since it's now fixed upstream
  Gemfile
  Gemfile.lock
Labels: none

Language Server: Herb Linter Fix-on-save
  javascript/packages/language-server/src/autofix_service.ts
  javascript/packages/language-server/src/code_action_service.ts
  javascript/packages/language-server/src/document_save_service.ts
  javascript/packages/language-server/src/document_service.ts
  javascript/packages/language-server/src/formatting_service.ts
  javascript/packages/language-server/src/server.ts
  javascript/packages/language-server/src/service.ts
  javascript/packages/language-server/src/settings.ts
  javascript/packages/language-server/src/utils.ts
  javascript/packages/vscode/package.json
  javascript/packages/vscode/scripts/sync-defaults.js
  javascript/packages/vscode/src/client.ts
  javascript/packages/vscode/src/code-action-provider.ts
Labels: javascript, typescript, language-server, vscode

Add more tests
  javascript/packages/language-server/test/autofix_service.test.ts
  javascript/packages/language-server/test/document_save_service.test.ts
  javascript/packages/language-server/test/settings.test.ts
Labels: javascript, typescript, language-server

Introduce `@herb-tools/rewriter` package
  docs/.vitepress/config/theme.mts
  docs/docs/projects.md
  docs/docs/projects/rewriter.md
  javascript/packages/linter/package.json
  javascript/packages/linter/src/types.ts
  javascript/packages/rewriter/README.md
  javascript/packages/rewriter/package.json
  javascript/packages/rewriter/project.json
  javascript/packages/rewriter/rollup.config.mjs
  javascript/packages/rewriter/src/ast-rewriter.ts
  javascript/packages/rewriter/src/built-ins/index.ts
  javascript/packages/rewriter/src/context.ts
  javascript/packages/rewriter/src/index.ts
  javascript/packages/rewriter/src/loader.ts
  javascript/packages/rewriter/src/mutable.ts
  javascript/packages/rewriter/src/string-rewriter.ts
  javascript/packages/rewriter/src/type-guards.ts
  javascript/packages/rewriter/test/ast-rewriter.test.ts
  javascript/packages/rewriter/test/built-ins/.keep
  javascript/packages/rewriter/test/custom-rewriter-loader.test.ts
  javascript/packages/rewriter/test/helpers/rewriter-test-helper.ts
  javascript/packages/rewriter/test/rewrite-context.test.ts
  javascript/packages/rewriter/test/string-rewriter.test.ts
  javascript/packages/rewriter/test/type-guards.test.ts
  javascript/packages/rewriter/tsconfig.json
  workspace.json
Labels: javascript, typescript, linter, rewriter, documentation

Remove `-exclude=@herb-tools/tailwind-class-sorter`
  package.json
Labels: none

Try to resolve the stuck NX build
  javascript/packages/rewriter/package.json
  javascript/packages/rewriter/project.json
  javascript/packages/tailwind-class-sorter/project.json
Labels: javascript, tailwind-class-sorter, rewriter

Try to explicitly build tailwind-class-sorter upfront
  .github/workflows/deploy.yml
  .github/workflows/javascript.yml
Labels: none

Rewriter: Implement `tailwind-class-sorter` built-in rewriter`
  javascript/packages/rewriter/rollup.config.mjs
  javascript/packages/rewriter/src/built-ins/index.ts
  javascript/packages/rewriter/src/built-ins/tailwind-class-sorter.ts
  javascript/packages/rewriter/src/index.ts
  javascript/packages/rewriter/test/built-ins/.keep
  javascript/packages/rewriter/test/built-ins/tailwind-class-sorter.test.ts
Labels: javascript, typescript, rewriter

Formatter: Integrate `tailwind-css-sorter` rewriter
  javascript/packages/config/src/config-schema.ts
  javascript/packages/config/src/config.ts
  javascript/packages/formatter/README.md
  javascript/packages/formatter/package.json
  javascript/packages/formatter/project.json
  javascript/packages/formatter/rollup.config.mjs
  javascript/packages/formatter/src/cli.ts
  javascript/packages/formatter/src/formatter.ts
  javascript/packages/formatter/src/types.ts
  javascript/packages/formatter/test/cli.test.ts
  javascript/packages/formatter/test/cli/cli-helpers.ts
  javascript/packages/formatter/test/cli/rewriters.test.ts
  javascript/packages/formatter/test/rewriters/custom-rewriters.test.ts
  javascript/packages/formatter/test/rewriters/fixtures/uppercase-tags.js
  javascript/packages/formatter/test/rewriters/formatter-integration.test.ts
  javascript/packages/formatter/tsconfig.json
  javascript/packages/language-server/src/formatting_service.ts
  javascript/packages/rewriter/src/built-ins/index.ts
Labels: javascript, typescript, formatter, language-server, config, rewriter

Fix language-server to work with new Formatter.from() return type
  javascript/packages/language-server/src/formatting_service.ts
Labels: javascript, typescript, language-server

Move file-based rewriter discoveryout of `Formatter` class
  javascript/packages/config/src/config-template.yml
  javascript/packages/formatter/src/cli.ts
  javascript/packages/formatter/src/formatter.ts
  javascript/packages/formatter/src/options.ts
  javascript/packages/formatter/src/types.ts
  javascript/packages/formatter/test/rewriters/custom-rewriters.test.ts
  javascript/packages/formatter/test/rewriters/formatter-integration.test.ts
  javascript/packages/formatter/test/rewriters/helpers.ts
  javascript/packages/language-server/src/formatting_service.ts
  javascript/packages/language-server/test/formatting_service.test.ts
  javascript/packages/language-server/tsconfig.json
  javascript/packages/rewriter/package.json
  javascript/packages/rewriter/rollup.config.mjs
  javascript/packages/rewriter/src/custom-rewriter-loader.ts
  javascript/packages/rewriter/src/index.ts
  javascript/packages/rewriter/src/loader.ts
  javascript/packages/rewriter/src/type-guards.ts
  javascript/packages/rewriter/test/custom-rewriter-loader.test.ts
Labels: javascript, typescript, formatter, language-server, config, rewriter

Update rewriter rollup config
  javascript/packages/rewriter/rollup.config.mjs
Labels: javascript, rewriter

Formatter: Try to persist `<%# herb:disable %>` nodes when formatting
  javascript/packages/formatter/src/format-helpers.ts
  javascript/packages/formatter/src/format-printer.ts
  javascript/packages/formatter/test/herb-disable-comment-formatting.test.ts
Labels: javascript, typescript, formatter

Formatter: Improve whitespace formatting on the root-level
  javascript/packages/formatter/src/format-helpers.ts
  javascript/packages/formatter/src/format-printer.ts
  javascript/packages/formatter/test/erb/erb.test.ts
  javascript/packages/formatter/test/html/inline-elements.test.ts
  javascript/packages/formatter/test/html/tags.test.ts
  javascript/packages/formatter/test/html/text-content.test.ts
Labels: javascript, typescript, formatter

Linter: Implement `erb-no-extra-whitespace-inside-tags` linter rule
  javascript/packages/linter/docs/rules/README.md
  javascript/packages/linter/docs/rules/erb-no-extra-whitespace-inside-tags.md
  javascript/packages/linter/src/rules.ts
  javascript/packages/linter/src/rules/erb-no-extra-whitespace-inside-tags.ts
  javascript/packages/linter/src/rules/index.ts
  javascript/packages/linter/test/__snapshots__/cli.test.ts.snap
  javascript/packages/linter/test/autofix/erb-no-extra-whitespace-inside-tags.autofix.test.ts
  javascript/packages/linter/test/cli.test.ts
  javascript/packages/linter/test/fixtures/erb-no-extra-whitespace-inside-tags.html.erb
  javascript/packages/linter/test/rules/erb-no-extra-whitespace-inside-tags.test.ts
Labels: javascript, typescript, linter, linter-rule, linter-autofix, documentation

Linter: Excldue Action Mailer views for `html-no-self-closing`
  javascript/packages/linter/src/linter.ts
  javascript/packages/linter/src/rules/html-no-self-closing.ts
  javascript/packages/linter/test/rules/html-no-self-closing.test.ts
Labels: javascript, typescript, linter, linter-rule

Add note in docs
  javascript/packages/linter/docs/rules/html-no-self-closing.md
Labels: javascript, linter, linter-rule, documentation
