Repository marcoroth/herb, pull requests merged in 2025-09, with the labels that each got.

#496 Allow Colon `:` in HTML Attribute Names
  src/parser.c
  test/parser/attributes_test.rb
  test/snapshots/parser/attributes_test/test_0038_Vue-style_directive_attribute_with_value_48a4fb492a8544d35ffb4d589f5a602c.txt
  test/snapshots/parser/attributes_test/test_0039_Vue-style_directive_attributes_multiple_4f1d1b98f3b9c869967323f090d9afee.txt
  test/snapshots/parser/attributes_test/test_0040_Vue-style_directive_attribute_without_value_14a36e2ed468092336d9f6080e939190.txt
  test/snapshots/parser/attributes_test/test_0041_Mixed_Vue_directives_and_regular_attributes_355d0da3aae174783058e2ccec41ac05.txt
  test/snapshots/parser/attributes_test/test_0042_Standalone_colon_with_space_is_invalid_c037b25064b31d22c6c195361999c5b8.txt
  test/snapshots/parser/attributes_test/test_0043_Colon_immediately_followed_by_attribute_name_is_valid_e30b590c384b162d5019345f8083bfdb.txt
  test/snapshots/parser/attributes_test/test_0044_Double_colon_is_invalid_f2b2354b82896dec0458b506ae56eb58.txt
  test/snapshots/parser/attributes_test/test_0045_Vue_directive_with_namespace-like_syntax_e3d2d0afe1a0d7a4f71d0831ed0a9306.txt
Labels: parser, c

#502 Engine: Add `visitors` for modifying AST before compiling
  lib/herb/engine.rb
  lib/herb/engine/debug_visitor.rb
  sig/herb/engine.rbs
  sig/herb/engine/debug_visitor.rbs
  test/engine_visitors_test.rb
  test/snapshots/engine/debug_mode_test/test_0047_regular_div_content_still_gets_debug_spans_after_excluded_context_tests_8bcb5712e0fc1e7b6a6b8639a98f4e14.txt
Labels: feature, ruby, engine

#503 Parser: Analyze parse errors as `partial_script`
  src/analyze.c
Labels: parser, c

#518 Linter: Allow empty data attributes with no value
  javascript/packages/linter/src/rules/html-no-empty-attributes.ts
  javascript/packages/linter/test/__snapshots__/cli.test.ts.snap
  javascript/packages/linter/test/rules/html-no-empty-attributes.test.ts
Labels: feature, linter, linter-rule

#528 Linter: Implement `erb-comment-syntax` linter rule
  javascript/packages/linter/docs/rules/README.md
  javascript/packages/linter/docs/rules/erb-comment-syntax.md
  javascript/packages/linter/src/default-rules.ts
  javascript/packages/linter/src/rules/erb-comment-syntax.ts
  javascript/packages/linter/src/rules/index.ts
  javascript/packages/linter/test/__snapshots__/cli.test.ts.snap
  javascript/packages/linter/test/rules/erb-comment-syntax.test.ts
  javascript/packages/vscode/package.json
Labels: linter, linter-rule
