Repository marcoroth/herb, pull requests merged in 2025-10, with the labels that each got.

#560 Parser: Fix parsing boolean attributes with `track_whitespace`
  javascript/packages/linter/test/rules/html-no-empty-headings.test.ts
  javascript/packages/linter/test/rules/parser-no-errors.test.ts
  src/lexer_peek_helpers.c
  test/parser/boolean_attributes_test.rb
  test/snapshots/parser/boolean_attributes_test/test_0007_boolean_attribute_on_void_element_followed_by_newline_and_ERB_tag_with_track_whitespace_865f46b916df0289c3b60c880f529e8b-b26dbda6d8a652930695c93bd07179f4.txt
  test/snapshots/parser/boolean_attributes_test/test_0008_boolean_attribute_on_void_element_followed_by_ERB_tag_with_track_whitespace_7a98c943c925e6943aaa2bec978901a9-b26dbda6d8a652930695c93bd07179f4.txt
  test/snapshots/parser/boolean_attributes_test/test_0009_boolean_attribute_on_void_element_followed_by_ERB_tag_with_track_whitespace_1d3295149578acc142f855bb3b75b3ec-b26dbda6d8a652930695c93bd07179f4.txt
Labels: bug, parser, c

#568 Lexer: Support lexing and parsing `=%>` ERB closing tag
  src/include/lexer_peek_helpers.h
  src/lexer.c
  src/lexer_peek_helpers.c
  test/lexer/erb_test.rb
  test/parser/erb_test.rb
  test/snapshots/lexer/erb_test/test_0008_erb_<%_=%>_344eadf6b1e04a6f534a3c7e38bbadf1.txt
  test/snapshots/lexer/erb_test/test_0009_erb_<%=_=%>_273e03432c2039cc05443a602e8c633a.txt
  test/snapshots/lexer/erb_test/test_0010_erb_output_inside_HTML_attribute_value_91d881ce0dd66286e4866c07a91e025c.txt
  test/snapshots/lexer/erb_test/test_0011_erb_output_inside_HTML_attribute_value_with_value_before_e474134558bf8ffccb829ba880271d99.txt
  test/snapshots/lexer/erb_test/test_0012_erb_output_inside_HTML_attribute_value_with_value_before_and_after_4ce9cd67e9f49e97d785cb27fb5e287a.txt
  test/snapshots/lexer/erb_test/test_0013_erb_output_inside_HTML_attribute_value_with_value_and_after_e07f0e9a593189f256789bd0ab7b5a82.txt
  test/snapshots/lexer/erb_test/test_0014_multi-line_erb_content_3b1dbeebb7d6cc88ee758abcd174c7c4.txt
  test/snapshots/lexer/erb_test/test_0015_multi-line_erb_content_with_complex_ruby_71e2451824a84db91b7e1cf752872168.txt
  test/snapshots/lexer/erb_test/test_0016_multi-line_erb_silent_tag_fae7aab59f46d7906cdeccfc1fa2cb3e.txt
  test/snapshots/parser/erb_test/test_0033_erb_output_with_=%>_close_tag_e5e99c2c84b3c9a106b8cf08b02ce9d6.txt
  test/snapshots/parser/erb_test/test_0034_erb_if_with_=%>_close_tag_040322f44f30d4766dc7bfe98114d53f.txt
  test/snapshots/parser/erb_test/test_0035_erb_if-elsif-else_with_=%>_close_tag_276e28a241d24b1f8016400a1c84fef1.txt
Labels: parser, lexer, c

#556 Linter: Implement `erb-right-trim` linter rule
  javascript/packages/linter/docs/rules/README.md
  javascript/packages/linter/docs/rules/erb-right-trim.md
  javascript/packages/linter/src/default-rules.ts
  javascript/packages/linter/src/rules/erb-right-trim.ts
  javascript/packages/linter/src/rules/index.ts
  javascript/packages/linter/test/__snapshots__/cli.test.ts.snap
  javascript/packages/linter/test/rules/erb-right-trim.test.ts
  javascript/packages/vscode/package.json
Labels: linter, linter-rule

#569 Add `visitNode` and `visitERBNode` methods to improve `erb-right-trim`
  javascript/packages/linter/docs/rules/README.md
  javascript/packages/linter/docs/rules/erb-right-trim.md
  javascript/packages/linter/src/rules/erb-right-trim.ts
  javascript/packages/linter/src/rules/rule-utils.ts
  javascript/packages/linter/test/rules/erb-right-trim.test.ts
  templates/javascript/packages/core/src/visitor.ts.erb
Labels: feature, linter, javascript, linter-rule

#570 Linter Rule: Refactor `erb-require-whitespace-inside-tags` to use `visitERBNode`
  javascript/packages/linter/src/rules/erb-require-whitespace-inside-tags.ts
Labels: linter, refactor, linter-rule

#529 C: Localize token struct members
  config.yml
  ext/herb/extension_helpers.c
  ext/herb/extension_helpers.h
  javascript/packages/node/binding.gyp
  javascript/packages/node/extension/extension_helpers.cpp
  javascript/packages/node/extension/extension_helpers.h
  src/analyze.c
  src/ast_node.c
  src/include/ast_node.h
  src/include/lexer_peek_helpers.h
  src/include/lexer_struct.h
  src/include/location.h
  src/include/parser_helpers.h
  src/include/position.h
  src/include/pretty_print.h
  src/include/prism_helpers.h
  src/include/range.h
  src/include/token.h
  src/include/token_struct.h
  src/lexer.c
  src/lexer_peek_helpers.c
  src/location.c
  src/parser.c
  src/parser_helpers.c
  src/position.c
  src/pretty_print.c
  src/prism_helpers.c
  src/range.c
  src/token.c
  templates/src/ast_nodes.c.erb
  templates/src/errors.c.erb
  templates/src/include/ast_nodes.h.erb
  templates/src/include/errors.h.erb
  wasm/extension_helpers.cpp
  wasm/extension_helpers.h
Labels: refactor, c

#488 Linter: Fix `--version` flag for CLI
  javascript/packages/linter/src/cli.ts
  javascript/packages/linter/src/cli/argument-parser.ts
Labels: bug, linter

#575 Formatter: Print `Experimental Preview` warning on `stderr`
  javascript/packages/formatter/src/cli.ts
  javascript/packages/formatter/test/cli.test.ts
Labels: formatter, javascript

#578 Parser: Fix analysis of nested `case/when` and `case/in` parsing
  src/analyze.c
  test/analyze/case_in_test.rb
  test/analyze/case_test.rb
  test/snapshots/analyze/case_in_test/test_0008_case_in_with_block_inside_in_clause_a5d7393ef0ab780cd777fd4d09413ac8.txt
  test/snapshots/analyze/case_in_test/test_0009_case_in_with_multiple_blocks_in_in_clause_8cdfe954fcb68cf29f71d5c05893547c.txt
  test/snapshots/analyze/case_in_test/test_0010_case_in_with_if_statement_inside_in_clause_51fcf7566215a5284ae1ee34c920837e.txt
  test/snapshots/analyze/case_test/test_0008_case_with_block_inside_when_adb20c2773fe1206d2b47123f8001e22.txt
  test/snapshots/analyze/case_test/test_0009_case_with_multiple_blocks_in_when_05f7d387314a95620a58ddc7f7d31b7b.txt
  test/snapshots/analyze/case_test/test_0010_case_with_nested_blocks_in_when_6e70c1bf60788969969296d35c409a47.txt
  test/snapshots/analyze/case_test/test_0011_case_with_block_in_multiple_when_clauses_3f35d3ebf6ea6eaf8e7b9bc7f8393a0f.txt
  test/snapshots/analyze/case_test/test_0012_case_with_if_statement_inside_when_ccc0bd511203c41d9274ccc360e736c2.txt
Labels: bug, parser, c

#577 Parser: Analyze `case` statements with `yield` as `ERBCaseNode`
  src/analyze.c
  test/analyze/case_test.rb
  test/snapshots/analyze/case_test/test_0013_case_with_yield_dc59b65969b8ef95076abc05c3907392.txt
Labels: bug, parser, c

#584 C: Also call `analyze` in C-CLI `parse` command
  src/main.c
Labels: bug, c

#585 C: Favor explicit buffer capacity over default capacity
  bin/leaks_parse
  ext/herb/extension.c
  javascript/packages/node/extension/herb.cpp
  src/analyze.c
  src/buffer.c
  src/extract.c
  src/herb.c
  src/include/buffer.h
  src/io.c
  src/lexer.c
  src/main.c
  src/parser.c
  src/token.c
  test/c/test_buffer.c
  test/c/test_json.c
  test/c/test_lex.c
  test/c/test_token.c
  wasm/herb-wasm.cpp
Labels: refactor, c, optimization

#586 C: Remove JSON Serialize Implementation
  CONTRIBUTING.md
  ext/herb/extension.c
  javascript/packages/node/binding.gyp
  javascript/packages/node/extension/herb.cpp
  lib/herb/libherb.rb
  lib/herb/libherb/libherb.rb
  src/herb.c
  src/include/herb.h
  src/include/json.h
  src/include/token.h
  src/json.c
  src/main.c
  src/token.c
  test/c/main.c
  test/c/test_json.c
  test/c/test_token.c
Labels: refactor, c
