Repository marcoroth/herb, pull requests merged in 2025-07, with the labels that each got.

#206 Show total number of issues in Herb Lint CLI
  javascript/packages/linter/src/cli.ts
  javascript/packages/linter/test/__snapshots__/cli.test.ts.snap
Labels: enhancement, linter, javascript

#207 Add `html-no-empty-headings` linter rule
  javascript/packages/linter/docs/rules/html-no-empty-headings.md
  javascript/packages/linter/src/linter.ts
  javascript/packages/linter/src/rules/html-no-empty-headings.ts
  javascript/packages/linter/src/rules/index.ts
  javascript/packages/linter/src/rules/rule-utils.ts
  javascript/packages/linter/test/rules/html-no-empty-headings.test.ts
Labels: linter, javascript

#128 Support `<%%=` (escaped ERB output tag)
  src/analyze.c
  src/extract.c
  src/include/token_struct.h
  src/lexer.c
  test/analyze/escape_test.rb
  test/lexer/erb_test.rb
  test/snapshots/analyze/escape_test/test_0001_escaped_erb_tag_94dbe0d71e8d4a3dbd06d39ffcad350c.txt
  test/snapshots/analyze/escape_test/test_0002_escaped_erb_output_tag_1ded89a552e264d13fefa7cc822a35c0.txt
  test/snapshots/lexer/erb_test/test_0007_erb_<%%=_%%>_8bba62f5739809ebc6cf44f4206dd610.txt
  test/snapshots/lexer/erb_test/test_0008_erb_output_inside_HTML_attribute_value_91d881ce0dd66286e4866c07a91e025c.txt
  test/snapshots/lexer/erb_test/test_0009_erb_output_inside_HTML_attribute_value_with_value_before_e474134558bf8ffccb829ba880271d99.txt
  test/snapshots/lexer/erb_test/test_0010_erb_output_inside_HTML_attribute_value_with_value_before_and_after_4ce9cd67e9f49e97d785cb27fb5e287a.txt
  test/snapshots/lexer/erb_test/test_0011_erb_output_inside_HTML_attribute_value_with_value_and_after_e07f0e9a593189f256789bd0ab7b5a82.txt
Labels: lexer, c

#224 Implement `erb-no-empty-tags` linter rule
  javascript/packages/linter/docs/rules/README.md
  javascript/packages/linter/docs/rules/erb-no-empty-tags.md
  javascript/packages/linter/src/default-rules.ts
  javascript/packages/linter/src/rules/erb-no-empty-tags.ts
  javascript/packages/linter/src/rules/index.ts
  javascript/packages/linter/test/__snapshots__/cli.test.ts.snap
  javascript/packages/linter/test/rules/erb-no-empty-tags.test.ts
Labels: linter, linter-rule

#228 Rename `message` to `offense` in Linter
  javascript/packages/linter/src/cli.ts
  javascript/packages/linter/src/linter.ts
  javascript/packages/linter/src/rules/erb-no-empty-tags.ts
  javascript/packages/linter/src/rules/erb-no-output-control-flow.ts
  javascript/packages/linter/src/rules/html-anchor-require-href.ts
  javascript/packages/linter/src/rules/html-attribute-double-quotes.ts
  javascript/packages/linter/src/rules/html-attribute-values-require-quotes.ts
  javascript/packages/linter/src/rules/html-boolean-attributes-no-value.ts
  javascript/packages/linter/src/rules/html-img-require-alt.ts
  javascript/packages/linter/src/rules/html-no-block-inside-inline.ts
  javascript/packages/linter/src/rules/html-no-duplicate-attributes.ts
  javascript/packages/linter/src/rules/html-no-empty-headings.ts
  javascript/packages/linter/src/rules/html-no-nested-links.ts
  javascript/packages/linter/src/rules/html-tag-name-lowercase.ts
  javascript/packages/linter/src/rules/rule-utils.ts
  javascript/packages/linter/src/types.ts
  javascript/packages/linter/test/linter.test.ts
  javascript/packages/linter/test/rules/erb-no-empty-tags.test.ts
  javascript/packages/linter/test/rules/erb-no-output-control-flow.test.ts
  javascript/packages/linter/test/rules/html-anchor-require-href-rule.test.ts
  javascript/packages/linter/test/rules/html-attribute-double-quotes.test.ts
  javascript/packages/linter/test/rules/html-attribute-values-require-quotes.test.ts
  javascript/packages/linter/test/rules/html-boolean-attributes-no-value.test.ts
  javascript/packages/linter/test/rules/html-img-require-alt.test.ts
  javascript/packages/linter/test/rules/html-no-block-inside-inline.test.ts
  javascript/packages/linter/test/rules/html-no-duplicate-attributes.test.ts
  javascript/packages/linter/test/rules/html-no-empty-headings.test.ts
  javascript/packages/linter/test/rules/html-no-nested-links.test.ts
  javascript/packages/linter/test/rules/html-tag-name-lowercase.test.ts
Labels: linter, refactor

#229 Add `Diagnostics` interface and rename other to `MonacoDiagnostic`
  javascript/packages/core/src/diagnostic.ts
  javascript/packages/core/src/index.ts
  javascript/packages/linter/src/rules/rule-utils.ts
  javascript/packages/linter/src/types.ts
  playground/src/controllers/playground_controller.js
  templates/javascript/packages/core/src/errors.ts.erb
Labels: javascript, refactor

#232 Add timing functionality to `herb analyze` command
  lib/herb/cli.rb
  lib/herb/project.rb
Labels: feature, ruby

#193 Integrate Herb Linter into the Herb Language Server
  javascript/packages/language-server/package.json
  javascript/packages/language-server/src/diagnostics.ts
  javascript/packages/language-server/src/linter_service.ts
  javascript/packages/language-server/src/parser_service.ts
  javascript/packages/language-server/src/server.ts
  javascript/packages/language-server/src/service.ts
  javascript/packages/language-server/src/settings.ts
  javascript/packages/vscode/.vscode/extensions.json
  javascript/packages/vscode/.vscode/launch.json
  javascript/packages/vscode/.vscode/settings.json
  javascript/packages/vscode/.vscode/tasks.json
  javascript/packages/vscode/package.json
  javascript/packages/vscode/src/client.ts
Labels: linter, javascript, language-server

#216 Implement `erb-require-whitespace-inside-tags` linter rule
  javascript/packages/linter/docs/rules/README.md
  javascript/packages/linter/docs/rules/erb-require-whitespace-inside-tags.md
  javascript/packages/linter/src/default-rules.ts
  javascript/packages/linter/src/rules/erb-no-output-control-flow.ts
  javascript/packages/linter/src/rules/erb-require-whitespace-inside-tags.ts
  javascript/packages/linter/src/rules/rule-utils.ts
  javascript/packages/linter/test/rules/erb-require-whitespace-inside-tags.test.ts
  templates/javascript/packages/core/src/nodes.ts.erb
Labels: linter, linter-rule

#219 Implement `html-aria-role-heading-requires-level` lint rule
  javascript/packages/linter/docs/rules/README.md
  javascript/packages/linter/docs/rules/html-aria-role-heading-requires-level.md
  javascript/packages/linter/src/default-rules.ts
  javascript/packages/linter/src/rules/html-aria-role-heading-requires-level.ts
  javascript/packages/linter/test/rules/html-aria-role-heading-requires-level.test.ts
Labels: linter, linter-rule

#235 Fix ternary operators being transformed into `ERBIfNode`
  src/analyze_helpers.c
  test/analyze/ternary_test.rb
  test/snapshots/analyze/ternary_test/test_0001_ternary_operator_in_ERB_output_tag_487f1093637a362df78bafb89af97d09.txt
  test/snapshots/analyze/ternary_test/test_0002_complex_ternary_operator_with_method_calls_c9fd4eebccb37e967b174ccf1bde7bf2.txt
  test/snapshots/analyze/ternary_test/test_0003_ternary_operator_in_form_with_3e5154d12d6259cc2ac2da74fc48e803.txt
  test/snapshots/analyze/ternary_test/test_0004_nested_ternary_operators_b02fe2f695043e3ef415f674581f8187.txt
  test/snapshots/analyze/ternary_test/test_0005_ternary_operator_in_attribute_value_d0b1eb0c3aae3bb30cf7891afdac44b8.txt
  test/snapshots/analyze/ternary_test/test_0006_multiple_ternary_operators_in_same_ERB_tag_7dd1d18fe401ed6c61c478be9ee5140f.txt
  test/snapshots/analyze/ternary_test/test_0007_ternary_operator_with_blocks_a8c8a50604f8821739b2814b58b652f2.txt
  test/snapshots/analyze/ternary_test/test_0008_form_with_helper_with_ternary_in_url_parameter_e554d08ac7e5da90cd046d79030c2a44.txt
  test/snapshots/analyze/ternary_test/test_0009_content_tag_with_ternary_for_class_attribute_910f82cb9ee5855d1c51c08667ac90d5.txt
  test/snapshots/analyze/ternary_test/test_0010_content_tag_with_ternary_for_data_attribute_6f00128b70c7d3176646995151ecfcaa.txt
  test/snapshots/analyze/ternary_test/test_0011_form_with_with_complex_ternary_in_multiple_attributes_0db72f423bc1543d78016121e43409d3.txt
  test/snapshots/analyze/ternary_test/test_0012_inline_if_modifier_in_ERB_output_tag_b4d740369619f1d7bde41172ac6933e6.txt
  test/snapshots/analyze/ternary_test/test_0013_inline_unless_modifier_in_ERB_output_tag_982863841843053cc3728f62e00fa523.txt
Labels: bug, parser, c

#245 Fix error in language server when linter settings are not provided
  javascript/packages/language-server/package.json
  javascript/packages/language-server/src/linter_service.ts
  javascript/packages/language-server/src/settings.ts
  javascript/packages/language-server/test/linter_service.test.ts
  javascript/packages/language-server/test/settings.test.ts
Labels: bug, linter, language-server

#259 fix: preserve inline ERB conditionals in HTML tags
  javascript/packages/formatter/src/printer.ts
  javascript/packages/formatter/test/html/attributes.test.ts
  yarn.lock
Labels: bug, formatter

#238 Add `html-aria-role-must-be-valid` linter rule
  javascript/packages/linter/docs/rules/README.md
  javascript/packages/linter/docs/rules/html-aria-role-must-be-valid.md
  javascript/packages/linter/src/default-rules.ts
  javascript/packages/linter/src/rules/html-aria-role-must-be-valid.ts
  javascript/packages/linter/src/rules/index.ts
  javascript/packages/linter/src/rules/rule-utils.ts
  javascript/packages/linter/test/rules/html-aria-role-must-be-valid.test.ts
Labels: linter, linter-rule

#241 Add `html-no-duplicate-ids` linter rule
  javascript/packages/linter/docs/rules/README.md
  javascript/packages/linter/docs/rules/html-no-duplicate-ids.md
  javascript/packages/linter/src/default-rules.ts
  javascript/packages/linter/src/rules/html-no-duplicate-ids.ts
  javascript/packages/linter/src/rules/index.ts
  javascript/packages/linter/src/rules/rule-utils.ts
  javascript/packages/linter/test/__snapshots__/cli.test.ts.snap
  javascript/packages/linter/test/rules/html-no-duplicate-ids.test.ts
Labels: linter, linter-rule

#274 VS Code Extension: Fix worker bundling for VSIX distribution
  javascript/packages/vscode/esbuild.js
  javascript/packages/vscode/src/parse-worker.js
Labels: vscode, vscode-extension

#263 Formatter: Ensure CLI output ends with trailing newline
  javascript/packages/formatter/src/cli.ts
  javascript/packages/formatter/test/cli.test.ts
  javascript/packages/language-server/src/formatting_service.ts
Labels: feature, formatter

#288 Formatter: Keep simple element children inline instead of splitting them up
  javascript/packages/formatter/src/cli.ts
  javascript/packages/formatter/src/printer.ts
  javascript/packages/formatter/test/cli.test.ts
  javascript/packages/formatter/test/erb/erb.test.ts
  javascript/packages/formatter/test/erb/for.test.ts
  javascript/packages/formatter/test/erb/until.test.ts
  javascript/packages/formatter/test/erb/while.test.ts
  javascript/packages/formatter/test/html/attributes.test.ts
  javascript/packages/formatter/test/html/text-content.test.ts
  javascript/packages/formatter/test/options.test.ts
Labels: feature, formatter

#301 Fix `erb-require-whitespace-inside-tags` rule for comment tags
  javascript/packages/linter/src/rules/erb-require-whitespace-inside-tags.ts
  javascript/packages/linter/test/rules/erb-require-whitespace-inside-tags.test.ts
  test/parser/erb_test.rb
  test/snapshots/parser/erb_test/test_0026_erb_comment_with_equals_sign_312beb21c876bb87e5bbb8c9288a5bd1.txt
  test/snapshots/parser/erb_test/test_0027_erb_comment_with_equals_sign_without_spaces_be2c65ad965090f17c18896f988e85a9.txt
  test/snapshots/parser/erb_test/test_0028_multi-line_erb_comment_with_equals_sign_bb3c3c1637a687e1d87a90a893fa09fd.txt
Labels: feature

#303 Fix yield and block detection in ERB control flow processing
  javascript/packages/linter/test/rules/erb-no-output-control-flow.test.ts
  src/analyze.c
  src/analyze_helpers.c
  src/include/analyze_helpers.h
  test/analyze/block_test.rb
  test/snapshots/analyze/block_test/test_0012_output_block_with_nested_if_in_arguments_6e476a363d4ba2c11b5a7880f29eb97e.txt
  test/snapshots/analyze/block_test/test_0013_output_block_with_complex_nested_if_in_arguments_6aa7d4d804699d2c864bf02b7a977f74.txt
  test/snapshots/analyze/block_test/test_0013_output_block_with_complex_nested_if_in_arguments_ce77a6b79077c840b8e3757d685241db.txt
  test/snapshots/analyze/block_test/test_0014_output_block_with_ternary_in_arguments_fd95ec37953c2bfabb5e6c134048e826.txt
  test/snapshots/analyze/block_test/test_0015_non-output_block_with_nested_if_in_arguments_03b142f7bfa9e9b1adfd3d1ce93f664c.txt
  test/snapshots/analyze/block_test/test_0016_block_with_multiple_nested_control_structures_6ef4d5a78134131b297c942bf88a2f27.txt
  test/snapshots/analyze/block_test/test_0017_output_block_with_nested_if_and_empty_body_e7620bceca76d49a706d7ed00e44c573.txt
  test/snapshots/analyze/block_test/test_0018_yield_with_conditional_expression_aab87ed84223dc1a927240b2859b3c05.txt
  test/snapshots/analyze/yield_test/test_0001_yield_811e738151285db6da8e3a493b8d6e2b.txt
  test/snapshots/analyze/yield_test/test_0002_yield_with_symbol_0f3dddc66e3930ac6552f5a273092594.txt
Labels: bug, linter, c

#314 Formatter: Fix case where formatter would output `% %>`
  javascript/packages/formatter/src/printer.ts
  javascript/packages/formatter/test/erb/erb.test.ts
Labels: bug, formatter

#316 Language Server: Fix `FormattingService` when settings are not available
  javascript/packages/language-server/src/formatting_service.test.ts
  javascript/packages/language-server/src/formatting_service.ts
Labels: bug, formatter

#109 Upgrade Ruby to `3.4.5`
  .github/workflows/release.yml
  .ruby-version
Labels: ruby

#315 Parser: Allow newlines before closing `>` in HTML tags
  src/parser.c
  test/parser/tags_test.rb
  test/snapshots/parser/tags_test/test_0047_closing_tag_with_newline_before_>_045e6b8518e8214f621854f251d1f323.txt
  test/snapshots/parser/tags_test/test_0048_closing_tag_with_whitespace_and_newline_before_>_3c8dfb4b650d9142438302a833bda883.txt
  test/snapshots/parser/tags_test/test_0048_closing_tag_with_whitespace_and_newline_before_>_c39bc3d537f50940f8301bcf5be6a5e9.txt
  test/snapshots/parser/tags_test/test_0049_multiple_closing_tags_with_newlines_before_>_c9d0ca9f702b1a3786a1a8ba835fb475.txt
  test/snapshots/parser/tags_test/test_0050_nested_tags_with_newlines_in_closing_tags_from_issue_312_21edeff96dc8abdda36ff23ee2318648.txt
  test/snapshots/parser/tags_test/test_0051_self-closing_tag_with_closing_tag_having_newline_before_>_004b02b673d57d73eb07a649eb08e705.txt
Labels: bug, feature, parser, c

#319 Add `textDocument/rangeFormatting` support to language server
  javascript/packages/language-server/src/formatting_service.test.ts
  javascript/packages/language-server/src/formatting_service.ts
  javascript/packages/language-server/src/server.ts
Labels: feature, formatter, language-server

#320 Improve range formatting to preserve minimum indentation
  javascript/packages/language-server/src/formatting_service.ts
  javascript/packages/language-server/test/formatting_service.test.ts
Labels: feature, formatter, language-server

#321 Parser: Add support for `TOKEN_NBSP` in HTML content
  src/parser.c
  test/parser/text_content_test.rb
  test/snapshots/parser/tags_test/test_0027_stray_closing_tag_with_whitespace_0ee4b96cac701f87a8b6cb0cf5ad48bc.txt
  test/snapshots/parser/text_content_test/test_0024_non-breaking_space_(U+00A0)_as_only_content_171ed99b0854aa35f50c3371b07fffcc.txt
  test/snapshots/parser/text_content_test/test_0025_non-breaking_space_mixed_with_ERB_-_issue_310_1f905e5ab087b22e76444d7e98132e6d.txt
  test/snapshots/parser/text_content_test/test_0026_multiple_non-breaking_spaces_in_text_7a2675aa6ba4cdbc5080233628d5e45e.txt
  test/snapshots/parser/text_content_test/test_0027_non-breaking_space_in_attribute_value_4ef6c07c78dcc312066ef682f96c0253.txt
Labels: bug, parser, c

#322 Parser: Add support for `TOKEN_AT` in HTML content
  src/parser.c
  test/parser/text_content_test.rb
  test/snapshots/parser/tags_test/test_0027_stray_closing_tag_with_whitespace_0ee4b96cac701f87a8b6cb0cf5ad48bc.txt
  test/snapshots/parser/text_content_test/test_0028_at_symbol_(@)_in_text_content_-_issue_285_b4af64f3ea734ed4c7510e7e5738841a.txt
  test/snapshots/parser/text_content_test/test_0029_at_symbol_at_beginning_of_text_b0241d43408d1826ae74f1bbec2e6413.txt
  test/snapshots/parser/text_content_test/test_0030_multiple_at_symbols_in_text_33e06a6d495e2d066b5a1a7be86f91c1.txt
  test/snapshots/parser/text_content_test/test_0031_at_symbol_mixed_with_ERB_a4b70c6afcd72595d84b1468a8b61d3a.txt
  test/snapshots/parser/text_content_test/test_0032_at_symbol_in_attribute_value_e5290cd6e77d3872131d3aa211bea034.txt
Labels: bug, parser, c
